<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-12">
      <img src="../img/mediscreen.png" alt="Logo" class="rounded mx-auto d-block">
    </div>
    <div class="row border border-success m-5 rounded">
      <nav class="col-12 p-4">
        <ul class="list-group text-center">
          <li class="list-group m-1"><h2><a class="text-danger fs-2" href="/patient/list">Patient management</a></h2></li>
          <li class="list-group m-1"><h2><a class="text-danger fs-2" href="/history/patientList">History of Patient</a></h2></li>
          <li class="list-group m-1"><h2><a class="text-danger fs-2" href="/history/patientList">Disease Calculator</a></h2></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
</body>
</html>